<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="..">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="clickSave()">
        Salvar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="img-wrapper">
    <ion-img [src]="image" (click)="showImage()"></ion-img>
    <ion-button color="light" (click)="captureImage()">
      <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  <form [formGroup]="form">
    <ion-list>
      <ion-item id="date-modal">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <ion-input
          id="expirationDate"
          [value]="expirationDate | date: 'dd/MM/yyyy'"
          placeholder="Data de vencimento"
        >        
        </ion-input>
        <ion-popover trigger="date-modal" size="cover">
          <ng-template>
            <ion-header>
              <ion-toolbar>
              <ion-title>
                Selecione a data de vencimento
              </ion-title>
            </ion-toolbar>
            </ion-header>
          <ion-datetime 
            formControlName="expirationDate"
            presentation="date" 
            [preferWheel]="true"
            [(ngModel)]="expirationDate"
          >
          </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item>
        <ion-icon name="barcode-outline"></ion-icon>
        <ion-input 
          formControlName="barcode" 
          placeholder="Código de barras"
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-input formControlName="name" placeholder="Descrição"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="pricetag-outline"></ion-icon>
        <ion-select formControlName="category" 
          interface="popover" placeholder="Categoria">
          <ion-select-option 
            *ngFor="let category of categories" value="{{category.id}}">
            {{category.description}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="cash-outline"></ion-icon>
        <ion-input formControlName="price" placeholder="Preço" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="layers-outline"></ion-icon>
        <ion-input formControlName="quantity" placeholder="Quantidade" type="number"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>