<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshProducts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button 
        data-desc="Ler código de barras" 
        color="primary"
        (click)="captureImage()">
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button 
        data-desc="Adicionar manualmente" 
        routerLink="/create-product"
        color="primary">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.image" />
      </ion-thumbnail>
      {{product.barcode}} - {{product.name}}
    </ion-item>
  </ion-list>

  <img [src]="image" *ngIf="image" [style.width]="'300px'">
</ion-content>